.about{
    padding: 3% 8%;
}
.about h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 48.41px;
}
.about p{
    margin: 3% 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
}